* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;

}

.text-postagem {
    text-align: justify;
    margin-top: 20px;
}

.text-date-postagem {
    font-size: 0.8em;
    font-style: italic;
}

.titulo-postagem-lateral {
    background: gray;
    text-align: center;
    color: #e6e6e6;
}

.text-nav-lateral {
    font-size: 1.2em;
}

.number-tel {
    width: 50px;
}